@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 62.5%;

    /*color primary*/
    --orange: hsl(26, 100%, 55%);
    --paleorange: hsl(25, 100%, 94%);

    /*color neutral*/
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}

body{
    background-color: var(--lightGrayishBlue);
    font-size: 1.6rem;
}
.page{
    padding: 4rem 12rem;
    margin: 0 auto;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8rem;
    border-bottom: 0.1rem solid var(--grayishBlue);
}
.left-menu{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 2rem;
}
.left-menu ul{
    list-style: none;
    display: flex;
    gap: 2rem;  
}
.left-menu a{
    text-decoration: none;
    color: var(--darkGrayishBlue);
    transition: color 0.3s;
}
.left-menu a:hover{
    cursor: pointer;
    color: var(--orange);
    font-weight: 700;
}
.right-menu{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.right-menu img{
    width: 4rem;
    height: 4rem;
}
.right-menu a {
    text-decoration: none;
}
.box-main{
    display: flex;
    padding: 0 6rem;
    gap: 10rem;
}
.left-box > .img-main{ 
    width: 40rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
}
.img-miniatures img{
    width: 23%;
    border-radius: 1.5rem;
}
.right-box{
    padding-top: 4rem;
}
.right-box p:nth-child(1){
    color: var(--orange);
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.right-box h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.right-box p:nth-child(3){
    text-align: justify;
    color: var(--veryDarkBlue);
    margin-bottom: 3rem;
}
.right-box h3{
    font-size: 2.5rem;
    margin-right: 1.5rem;
}
.right-box h3 > span{
    background-color: var(--paleorange);
    color: var(--orange);
    font-size: 1.8rem;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.right-box p:nth-child(5){
    color: var(--grayishBlue);
    font-weight: 700;
    text-decoration: line-through;
    margin-bottom: 2rem;
}
.counter{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.button-count button {
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    background-color: antiquewhite;
    color: var(--orange);
    border: none;
    cursor: pointer;
    border-radius: 1rem;
  }
#count{
    font-size: 2rem;
    margin:auto;
    background-color: antiquewhite;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
 }
 #cart{
    padding: 2rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--orange);
    color: var(--paleorange);
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    transition: color 0.3s;
    transition: background-color 0.3s;
 }
 i{
    margin-right: 1rem;
 }
 #cart:hover{
    background-color: hsl(26, 100%, 30%);
    color: var(--paleorange);
 }

