*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
    font-family: 'inter'; 

    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --gray-blue: hsl(233, 8%, 79%);
    --dark-gray: hsl(236, 13%, 42%);
    --dark-blue: hsl(240, 100%, 5%);
}
body{
    background-color: var(--white);
    font-size: 1.6rem;
}
.page{
    max-width: 32.9rem;
    padding: 5rem;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
main img{
    width: 32.9rem;
    margin-bottom: 2rem;
}
.texttop h1{
    font-weight: 800;
    margin-bottom: 1rem;
}
.texttop p{
    line-height: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.texttop button{
    border: none;
    background-color: var(--red);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    height: 3rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
}
.texttop button:hover{
    background-color: #c53427;
    cursor: pointer;
}
.textmeio{
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 2rem;
    margin-bottom: 4rem;
}
.textmeio h2{
    color: var(--orange);
    margin-bottom: 1.5rem;
}
.textmeio h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.textmeio p{
    font-size: 1.3rem;
    color: var(--gray-blue);
    text-align: justify;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.border{
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 2rem;
}