*{
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
    font-family: 'inter'; 

    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --white: hsl(36, 100%, 99%);
    --gray-blue: hsl(233, 8%, 79%);
    --dark-gray: hsl(236, 13%, 42%);
    --dark-blue: hsl(240, 100%, 5%);
}
body{
    background-color: var(--white);
    font-size: 1.6rem;
}
.page{
    max-width: 32.9rem;
    padding: 4rem 5rem;
    margin: 0 auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;  
}
.menu ul{
    display: none;
}
main img{
    width: 32.9rem;
    margin-bottom: 2rem;
}
.texttop h1{
    font-weight: 800;
    margin-bottom: 1rem;
}
.texttop p{
    line-height: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.texttop button{
    border: none;
    background-color: var(--red);
    color: var(--white);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    height: 3rem;
    padding: 0 2rem;
    margin-bottom: 4rem;
}
.texttop button:hover{
    background-color: #c53427;
    cursor: pointer;
}
.textmeio{
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 2rem;
    margin-bottom: 4rem;
}
.textmeio h2{
    color: var(--orange);
    margin-bottom: 1.5rem;
}
.textmeio h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.textmeio p{
    font-size: 1.3rem;
    color: var(--gray-blue);
    text-align: justify;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.border{
    border-bottom: 1px solid var(--dark-gray);
    margin-bottom: 2rem;
}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 3rem;
}
.rodape img{
    width: 100px;
    height: 147px;
    margin: 0;
    margin-right: 2.5rem;
}
.textinferior h1{
    color: var(--gray-blue);
    margin-bottom: 1rem;
}
.textinferior h2{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.textinferior p{
    color: var(--dark-gray);
    
    font-size: 1.3rem;
    line-height: 2rem;
}

@media (min-width: 700px){

    .page{
        max-width: 100rem;
    }
    .menu img:nth-child(2){
        display: none;
    }
    .menu ul{
        display: flex;
        list-style: none;
        gap: 3rem;
        font-weight: bold;
    }
    .menu ul a{
        text-decoration: none;
        color: var(--dark-gray);
    }
    .menu ul a:hover{
        cursor: pointer;
        color: var(--red);
    }
    main{
        display: flex;
    }
    .caixaesquerda{
        margin-right: 2rem;
    }
    .caixaesquerda img{
        min-width: 65rem;
        height: 20rem;
        object-fit: cover;
    }
    .texttop{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
    }
    .texttop h1{
        font-size: 4rem;
    }
    .texttop button{
        width: 50%;
    }
    .caixainferior{
        display: flex;
        gap: 2rem;
    }
    .rodape{
        margin: 0;
        width: 80rem;
        transition: all 400ms;
        
    }
    .rodape img:hover{
        transform: scale(1.1);
    }

}
